body {
    background-color: #483D8B;
    color: white;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1.title {
    font-size: 100px;
}

h3.slogan {
    font-size: 45px;
}