body {
    background-color: #483D8B;
    color: white;
    margin: 20px;
    line-height: 2px;
}

div {
    width: 100%;
    height: 100%;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

h1.title {
    font-size: 100px;
}

h3.slogan {
    font-size: 45px;
}

div.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10%;
    perspective: 1000px;
}

div.card {
    transition: 1s;
    width: 200px;
    height: 300px;
    margin: 10px;
    transform-style: preserve-3d;
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
    height: 300px;
}

.front {
    background: url(../img/black.png) no-repeat;
    background-size: 200px;
}

.back {
    background: url(../img/dos.png) no-repeat;
    background-size: 200px;
    transform: rotateY(180deg);
}